<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-home"></i> Danh mục <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-action="HangHoa" asp-controller="HangHoa">Hàng hóa</a></li>
                    <li><a asp-action="KhachHang" asp-controller="KhachHang">Khách hàng</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-sitemap"></i> Hợp đồng <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>
                        <a>Danh mục<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li class="sub_menu">
                                <a asp-action="Plans" asp-controller="Plans">PÁ kinh doanh</a>
                            </li>
                            <li>
                                <a asp-action="HopDong" asp-controller="HopDong">Hợp đồng</a>
                            </li>
                            <li>
                                <a href="#level2_2">Ghép PÁ kinh doanh</a>
                            </li>
                            <li>
                                <a style="padding-right:0px">Giao nhận hàng hóa<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu">
                                        <a asp-action="InputStock" asp-controller="InputStock">Nhập kho từ HĐ mua hàng</a>
                                    </li>
                                    <li class="sub_menu">
                                        <a>Mua kho bán hàng</a>
                                    </li>
                                    <li class="sub_menu">
                                        <a>Xuất kho TP</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a asp-action="ThanhLyHD" asp-controller="ThanhLyHD">Hoàn thành giao hàng</a>
                            </li>
                            <li>
                                <a asp-action="HistoryHDMB" asp-controller="HistoryHDMB">Tra cứu HĐMB</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Báo cáo<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li class="sub_menu">
                                <a href="level2.html">BC PAKD</a>
                            </li>
                            <li>
                                <a href="#level2_2">BC cân đối hàng hóa</a>
                            </li>
                            <li>
                                <a href="#level2_2">BC HĐMB</a>
                            </li>
                            <li>
                                <a href="#level2_2">BC HĐ chưa giao-trễ hạn gạo</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    

</div>
<!-- /sidebar menu -->